
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&family=Roboto:wght@100&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Libre+Franklin:wght@800&display=swap');
body{
	background-color: #edfffe;
}

#first-section{
	font-size: 30px;
	font-family: "Libre Franklin";
	color:teal;
	text-align: center;

	height:10px;
}


.text-to-align{
	vertical-align: bottom;
}
h4{
	position: relative;
	top: 30px;
	font-size: 20px;
	font-family:"Roboto";
	color: #DA68B7;
	text-align:center;
}

.center{
	display: block;
	margin-left:auto;
	margin-right: auto;
	position: relative;top:-30px;
	width: 100px;
}

#third-section img{
	position: relative;
	width: 150px;

}

#fourth-section{
	position: relative;
	text-indent: 50px;
	color: #68AADA;
	font-size: 30px;
	font-family: "Bebas Neue"

}

ol{
	position: relative;
	left:50px;
	bottom:20px;
	color: teal;
	text-indent: -1px;
	font-size: 20px;
	font-family:"Arimo"


}
p{
	text-indent: 50px;
}
a:visited{
	color:#FFA2A2;
}

a:link{
	color:#39bf5d;
}

a:hover{
	color:hotpink;
}