/*selector{
	property:value;
}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
	background-color: #FF69B4;
}
a{
	color:#FFFFFF;
}
h2{
	color: teal;
	font-family:"Roboto";
}
